<a href="https://colab.research.google.com/github/Samuel-kjkj/DS-study-notebooks/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating a Tuple

In [2]:
animal_tuple=("yellow anaconda", "black mamba", 30.5, 20)

#tuple constructor

animal_tuple=("yellow anaconda", "black mamba", 30.5, 20)

animal_tuple_type = type(animal_tuple)

print(animal_tuple)
print(animal_tuple_type)

('yellow anaconda', 'black mamba', 30.5, 20)
<class 'tuple'>

# Tuple indexing

In [5]:
second_index = animal_tuple.index("black mamba")
print(second_index)

third_item = animal_tuple[2]
print(third_item)

1
30.5

# Slicing
We use slicing when we wish to return a portion of a tuple instead of just a single value.

Syntax: tuple[start:end]

In [9]:
sliced_tuple = animal_tuple[0:4]
print(sliced_tuple)

('yellow anaconda', 'black mamba', 30.5, 20)

# Modification

so basically tuples are immutable

In [12]:
animal_tuple[0]="lion"
print(animal_tuple)

TypeError: 'tuple' object does not support item assignment

# Concatenation

so basically if you want to modify a tuple it is better to create a new one and concatenate the one you want to modify with new data in the form od a tuple

In [19]:
animal_tuple_new = animal_tuple + ("lion", False)
print(animal_tuple_new)

('yellow anaconda', 'black mamba', 30.5, 20, 'lion', False)

# duplicates

so basically because tuples are ordered it allows duplicate data items. they can be differemtiated wiith their indexes

In [17]:
animal_tuple_new = animal_tuple_new + (False,)
print(animal_tuple_new)

('yellow anaconda', 'black mamba', 30.5, 20, 'lion', False, False)

# len( )

In [21]:
# Return the number of elements in animal_tuple_new
length_of_tuple = len(animal_tuple_new)
print(f"No. of attributes: {length_of_tuple}")

No. of attributes: 6

# count( )

In [24]:
# Count the occurrence of the value False in animal_tuple_new
count_false = animal_tuple_new.count(False)
print(count_false)

0

# tuple unpacking

In [20]:
# Assign each element in animal_tuple to individual variables
animal_tuple = ("Yellow anaconda", "Reptile", 30.5, 20)

name, group, av_weight, av_lifespan = animal_tuple
print(f"Name: {name}")
print(f"Group: {group}")

Name: Yellow anaconda
Group: Reptile